.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  user-select: none;

  &__heading {
    width: 100%;
    margin-top: 10.375rem;
    font-weight: 900;
    color: $red;

    &--small {
      font-size: 3rem;
    }

    &--medium {
      font-size: 4.1875rem;
    }

    &--large {
      font-size: 5.5625rem;
      line-height: 4.625rem;
      letter-spacing: 0.0625rem;
    }
  }

  &__subheading {
    margin-top: 1.375rem;
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    text-align: center;
  }

  &__background {
    &--image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  &__scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2.25rem;
    border-radius: 1.75rem;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.28125rem;
    text-decoration: none;
    color: $white;
    background-color: $red-t;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $red;
    }
  }

  &__mark {
    width: 0;
    height: 0;
    margin-top: 1rem;
    border-top: 1.6rem solid $red;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
  }
}
