$unit: 1rem;
$gutter-unit: 2.5 * $unit;
$col-unit: 2 * $gutter-unit;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: none;
}

@import "utils.scss";
@import "colors.scss";
@import "fonts.scss";
@import "text.scss";
@import "hero.scss";
@import "quote.scss";
@import "slider.scss";
@import "wrapper.scss";
@import "section.scss";

.main {
  max-width: 100vw;
}

.divider {
  width: 2.5rem;
  height: 0.25rem;
  background-color: $red;
  margin: 1.25rem auto;
}

#section-2 {
  .wrapper {
    &:nth-of-type(1) {
      padding-top: 7.5rem;
    }

    &:nth-of-type(3) {
      margin-bottom: 7.125rem;
      align-items: flex-start;

      .text {
        width: 40rem;
      }
    }
  }

  .text--letter {
    margin-bottom: 2.5rem;
  }
}

#section-3 {
  .wrapper--text {
    padding-top: 4rem;
    width: 40rem;
  }
}
