$unit: 1rem;
$gutter-unit: 2.5 * $unit;
$col-unit: 2 * $gutter-unit;

@mixin width($cols, $gutters, $extra: 0) {
  width: $cols * $col-unit + $gutters * $gutter-unit + $extra;
}

@import "colors.scss";
@import "fonts.scss";
@import "text.scss";
@import "hero.scss";
@import "quote.scss";
@import "slider.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main {
  max-width: 100vw;
}

.section {
  &__title {
    font-size: 1.375rem;
    @include width(4, 3);
    color: $red;
    text-align: center;
    justify-content: center;
  }

  &__background {
    &--image {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 41rem;

  &--hero {
    height: 100%;
    justify-content: space-between;
  }

  &--quote {
    margin-top: 3.875rem;
  }

  &--slider {
    width: 57.5rem;
  }
}

.divider {
  width: 2.5rem;
  height: 0.25rem;
  background-color: $red;
  margin: 1.25rem auto;
}

#section-2 {
  .wrapper {
    &:nth-of-type(1) {
      padding-top: 7.5rem;
    }

    &:nth-of-type(3) {
      margin-bottom: 7.125rem;
      align-items: flex-start;

      .text {
        width: 40rem;
      }
    }
  }

  .text--letter {
    margin-bottom: 2.5rem;
  }
}

#section-3 {
  .wrapper--text {
    padding-top: 4rem;
    width: 40rem;
  }
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.j-sb {
  justify-content: space-between;
}
