.quote {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-bottom: 7.125rem;
  padding-right: 3.5rem;

  &__image {
    width: auto;
    height: 19.1875rem;
    margin-left: -3rem;
    margin-right: 2rem;
  }

  &__mark {
    height: 1.125rem;
    margin-bottom: 0.675rem;
    margin-right: auto;
  }

  &__text {
    width: 22.5rem;
    margin-bottom: 1.375rem;
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: $red-2;
  }

  &__author {
    width: 22.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: $gray;
    margin-bottom: 3.25rem;
  }

  &__line {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 47rem;
    height: 0.125rem;
    margin-top: 2rem;
    background-color: $red;
  }
}
